<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CBSURL"  value="http://172.20.11.44:8060/FBLT24Service/rest/request/CreateTransaction"/>    
    <add key="logpath" value="D:\FloraLog"/>
  </appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="Windows"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
