<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RTGSCBS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="DBServer"             value="."/>
        <add key="LogPath"              value="D:\FloraLog"/>
        <add key="IntervalInSeconds"    value="5"/>
      
        <add key="CBSURL"               value="http://192.168.200.110:8060/web/request/CreateTransaction"/>
        <add key="CBSUser"              value=""/>
        <add key="CBSPass"              value=""/>
    </appSettings>
    <applicationSettings>
        <RTGSCBS.Properties.Settings>
            <setting name="RTGSCBS_RTGSWS_Service1" serializeAs="String">
                <value>http://localhost/FloraRTGSWS/Service1.asmx</value>
            </setting>
        </RTGSCBS.Properties.Settings>
    </applicationSettings>
</configuration>